@font-face {
    font-family: "Fira Code";
    src: url("/static/FiraCode.ttf") format("truetype");
}

@font-face {
    font-family: "Caskaydia Cove";
    src: url("/static/CaskaydiaCove.ttf") format("truetype");
}

:root {
    --code-font: "Fira Code";
    --main-font: "Caskaydia Cove";

    --fallback-fonts: Archivo, Helvetica, Arial, Sans-serif;
}

body {
    font-family: var(--main-font), var(--fallback-fonts);
    word-wrap: break-word;
    line-height: 1.5;
    color: white;
    background-color: black;
    padding: 0 1em;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid;
}

table {
    border-spacing: 0.5em 0.1em;
}

.clone-url {
    font-size: 0.9em;
    float: right;
}

.readme {
    max-width: 80ch;
}

.repo-last-updated {
    font-style: italic;
    /* so digits of the dates are aligned */
    font-variant-numeric: tabular-nums;
}

.repo-link,
.git-reference,
.permissions,
.commit-hash,
.filename,
.filesize,
.commit-message,
.source {
    font-family: var(--code-font), var(--fallback-fonts);
}

.filesize {
    text-align: right;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    position: relative;
}

a.line {
    display: inline-block;
    width: 4em;
    margin-right: 0.7em;
    text-align: right;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.clone-url {
    -webkit-user-select: all; /* Safari */
    user-select: all; /* Standard syntax */
}

h1,
h2,
h3 {
    margin: 0;
}

h3 {
    display: inline-block;
    margin-right: 2em;
}

pre {
    line-height: 1.2;
    font-size: 1rem;
    overflow: auto;
    margin: 0;
    padding: 0;
}

td {
    white-space: nowrap;
    margin: 0;
    border-style: hidden;
    padding: 0;
}

table td {
    padding: 0 0.1em;
}

table.core {
    width: 100%;
    border-collapse: collapse;
}

.badge {
    padding: 0.2em;
}

.commit-summary {
    width: 100%;
}

a.feed > img {
    height: 1em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .repo-description,
    .repo-last-updated,
    .commit-author-email,
    .commit-date {
        display: none;
    }
}

.source {
    border-color: grey;
    background-color: #181818;
    border-radius: 2.5px;
    margin: 10px;
    padding: 3px 12px;
    position: relative;
    white-space: pre;
    display: block;
}

.source > .clipboard {
    position: absolute;
    top: 3px;
    right: 3px;
}
